/**
 * Créé par David Champagne
 * 2020/03/14
 *
 */
html,body { margin:0; height:100%;}

/* Page d'accueil*/


header li{
    display: inline;
}
.jumbotron,.card, #tournee, #biographie, #discographie, .album {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
#hero, #banniere_discographie, #photo, #photo_discographie_1, #photo_discographie_2, #google_map, #photo_contact_1, #photo_contact_2 , #map {
    height: 100%;
}
#contact{
    height: 80%;
}
nav a, footer a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: black;

}
nav a:hover{
    text-decoration: underline;

}


/* Page discographie */

.modal-content iframe{
    margin: 0 auto;
    display: block;
}

/* Section parallax 2 */

.parallax2 {
    /* L’image du Parallax */
    background-image: url("../img/chvrches3.jpg");
    /* L’hauteur du Parallax */
    height: 100%;
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 50%; height: 50%; }


/* Page contact */

/* google map */

#footer{

}

.map{
    border: 0;
    margin-bottom: 3rem;
}

.contact_form{
background-color: #ffffff;

}

/* Media Queries */


/* Changement d'image sur cellulaire */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 10rem) {
    .parallax {
        /* L’image du Parallax */
        background-image: url("../img/chvrches-mobile-1.png");
        /* L’hauteur du Parallax */
        height: 100%;
        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax2 {
        /* L’image du Parallax */
        background-image: url("../img/chvrches-mobile-2.jpg");
        /* L’hauteur du Parallax */
        height: 100%;
        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax3{
        /* L’image du Parallax */
        background-image: url("../img/chvrches-mobile-3.jpg");
        /* L’hauteur du Parallax */
        height: 100%;
        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax4{
        /* L’image du Parallax */
        background-image: url("../img/chvrches-mobile-4.jpg");
        /* L’hauteur du Parallax */
        height: 100%;
        /* Création de l’effet */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax5 {
        /* L’image du Parallax */
        background-image: url("../img/chvrches-mobile-5.jpg");
        /* L’hauteur du Parallax */
        height: 100%;
        /* Création de l’effet */

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .card{
        text-align: center;
        margin: 0 auto;
    }
}
/* Changement d'image sur tablette */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 48rem) {
    .parallax {
        /* L’image du Parallax */
        background-image: url("../img/chvrches-md-2.jpg");
        overflow: hidden;
        /* L’hauteur du Parallax */
        height: 100%;
        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    .parallax2 {
        /* L’image du Parallax */
        background-image: url("../img/chvrches3.jpg");
        /* L’hauteur du Parallax */
        height: 100%;
        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax3{
        /* L’image du Parallax */
        background-image: url("../img/chrches-twitter.jpg");
        /* L’hauteur du Parallax */
        height: 100%;
        /* Création de l’effet */

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax4 {
        /* L’image du Parallax */
        background-image: url("../img/chvrches6.jpg");
        /* L’hauteur du Parallax */
        height: 100%;
        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax5 {
        /* L’image du Parallax */
        background-image: url("../img/chvrches7.jpg");
        /* L’hauteur du Parallax */
        height: 100%;
        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (min-width: 75rem) {
    .parallax {
        /* L’image du Parallax */
        background-image: url("../img/chvrches2.jpg");
        /* L’hauteur du Parallax */
        height: 100%;

        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    .parallax3{
        /* L’image du Parallax */
        background-image: url("../img/chrches-twitter.jpg");
        /* L’hauteur du Parallax */
        height: 100%;
        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

